/*--------------------------------------------------------------
# Google Map One
--------------------------------------------------------------*/
.google-map-one {
    position: relative;
    display: block;
    background-color: #002935;
}

.google-map__one {
    position: relative;
    display: block;
    border: none;
    height: 340px;
    width: 100%;
    opacity: .35;
}

/*--------------------------------------------------------------
# Contact Page
--------------------------------------------------------------*/
.contact-page {
    position: relative;
    display: block;
    padding: 140px 0 140px;
    z-index: 1;
}

.contact-page__left {
    position: relative;
    display: block;
    background-color: var(--gizmo-base);
    border-radius: 4px;
    padding: 69px 55px 65px;
    padding-right: 115px;
}

.contact-page__list {
    position: relative;
    display: block;
}

.contact-page__list li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 23px;
}

.contact-page__list li+li {
    margin-top: 30px;
}

.contact-page__list li .icon {
    position: relative;
    display: inline-block;
}

.contact-page__list li .icon span {
    position: relative;
    display: inline-block;
    font-size: 45px;
}

.contact-page__list li .content {
    position: relative;
    display: block;
}

.contact-page__list li .content p {
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
}

.contact-page__list li .content p a {
    color: var(--aixon-black);
}

.contact-page__right {
    position: relative;
    display: block;
    margin-left: 33px;
    margin-top: 50px;
}

.contact-page__right .section-title {
    margin-bottom: 50px;
}

.contact-page__form {
    position: relative;
    display: block;
}

.contact-page__input-box {
    position: relative;
    display: block;
    margin-bottom: 20px;
}

.contact-page__input-box input[type="text"],
.contact-page__input-box input[type="email"] {
    height: 52px;
    width: 100%;
    border: 1px solid rgba(var(--gizmo-base-rgb), .20);
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
    font-size: 15px;
    color: var(--gizmo-gray);
    display: block;
    font-weight: 400;
    border-radius: 3px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.contact-page__input-box input[type="text"]:hover,
.contact-page__input-box input[type="email"]:hover {
    border: 1px solid rgba(var(--gizmo-base-rgb), 1);
}

.contact-page__input-box textarea {
    position: relative;
    height: 160px;
    width: 100%;
    background-color: var(--gizmo-white);
    border: 1px solid rgba(var(--gizmo-base-rgb), .20);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    outline: none;
    font-size: 15px;
    color: var(--gizmo-gray);
    display: block;
    font-weight: 400;
    border-radius: 3px;
    margin-bottom: 0;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.contact-page__input-box textarea:hover {
    border: 1px solid rgba(var(--gizmo-base-rgb), 1);
}

.contact-page__input-box.text-message-box {
    height: 160px;
    margin-bottom: 30px;
}

.contact-page__btn-box {
    position: relative;
    display: block;
}

/*--------------------------------------------------------------
# Google Map One
--------------------------------------------------------------*/
.google-map-two {
    position: relative;
    display: block;
}

.google-map__two {
    position: relative;
    display: block;
    border: none;
    height: 725px;
    width: 100%;
}

/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/